@tailwind base;
@tailwind components;
@tailwind utilities;

/* Change autocomplete styles in WebKit */
input:-webkit-autofill,
input:-webkit-autofill:hover, 
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
  /* border: 0px solid #06b6d4; */
  -webkit-text-fill-color: rgb(0, 0, 0);
  -webkit-box-shadow: 0 0 0px 1000px #ffffff inset;
  transition:#fff 5000s ease-in-out 0s;
}

:root {
  --animate-delay: 0.2s !important;
  /* --animate-duration: 0.5s !important; */
}

body {
    font-family: 'Noto Sans TC', sans-serif;
}


::-webkit-scrollbar {
  height: 8px;
  width: 8px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #e5e7eb;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #9ca3af;
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #6b7280;
}